{% extends 'base.html' %} {% block title %} Thêm hóa đơn {% endblock %} {% block
content %}
<div class="main-content">
  <div class="sidebar">
    <h4>QUẢN LÝ CHI TIÊU</h4>
    <a href="{{ url_for('views.home') }}" class="active"
      ><i class="fas fa-home"></i> Tổng quan</a
    >
    <a href="{{ url_for('views.balance') }}"
      ><i class="fas fa-wallet"></i> Số dư</a
    >
    <a href="{{ url_for('views.list_transactions') }}"
      ><i class="fas fa-exchange-alt"></i> Giao dịch</a
    >
    <a href="#"><i class="fas fa-file-invoice"></i> Hóa đơn</a>
    <a href="{{ url_for('views.list_categories') }}"
      ><i class="fas fa-money-bill-wave"></i> Chi phí</a
    >
    <a href="#"><i class="fas fa-bullseye"></i> Mục tiêu</a>
    <a href="#"><i class="fas fa-cog"></i> Cài đặt</a>
    <a href="{{ url_for('views.logout') }}"
      ><i class="fas fa-sign-out-alt"></i> Đăng xuất</a
    >
    <div class="user-profile">
      <p>{{ username }}</p>
      <a href="#" class="btn btn-success btn-sm">View profile</a>
    </div>
  </div>

  <div class="content">
    <div class="header">
      <div>
        <h5>Thêm hóa đơn</h5>
      </div>
      <div>
        <input type="text" placeholder="Search here" />
        <i class="fas fa-bell notification-icon"></i>
      </div>
    </div>

    <div class="card p-3">
      <form method="POST" action="{{ url_for('views.add_bill') }}">
        <div class="mb-3">
          <label for="description" class="form-label">Mô tả</label>
          <input
            type="text"
            class="form-control"
            id="description"
            name="description"
            required
          />
        </div>
        <div class="mb-3">
          <label for="due_date" class="form-label">Ngày đến hạn</label>
          <input
            type="date"
            class="form-control"
            id="due_date"
            name="due_date"
            required
          />
        </div>
        <div class="mb-3">
          <label for="amount" class="form-label">Số tiền</label>
          <input
            type="number"
            step="0.01"
            class="form-control"
            id="amount"
            name="amount"
            required
          />
        </div>
        <button type="submit" class="btn btn-success">Thêm hóa đơn</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
