{% extends 'base.html' %} {% block title %} Quản lý chi tiêu - Số dư {% endblock
%} {% block content %}
<div class="main-content">
  <!-- Sidebar -->
  <div class="sidebar">
    <h4>QUẢN LÝ CHI TIÊU</h4>
    <a href="{{ url_for('views.home') }}"
      ><i class="fas fa-home"></i> Tổng quan</a
    >
    <a href="{{ url_for('views.balance') }}" class="active"
      ><i class="fas fa-wallet"></i> Số dư</a
    >
    <a href="{{ url_for('views.list_transactions') }}"
      ><i class="fas fa-exchange-alt"></i> Giao dịch</a
    >
    <a href="#"><i class="fas fa-file-invoice"></i> Hóa đơn</a>
    <a href="{{ url_for('views.list_categories') }}"
      ><i class="fas fa-money-bill-wave"></i> Chi phí</a
    >
    <a href="#"><i class="fas fa-bullseye"></i> Mục tiêu</a>
    <a href="#"><i class="fas fa-cog"></i> Cài đặt</a>
    <a href="{{ url_for('views.logout') }}"
      ><i class="fas fa-sign-out-alt"></i> Đăng xuất</a
    >
  </div>

  <!-- Nội dung chính -->
  <div class="content">
    <div class="header">
      <div>
        <p>{{ 'now'|datetimeformat }}</p>
      </div>
      <div>
        <input type="text" placeholder="Search here" />
        <i class="fas fa-bell" style="margin-left: 20px"></i>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-12">
        <h5>Số dư</h5>
        <div class="row">
          {% if accounts %} {% for account in accounts %}
          <div class="col-md-4 mb-4">
            <div class="card p-3">
              <h6>{{ account.account_type }}</h6>
              <p class="text-muted">{{ account.account_number }}</p>
              <div
                class="d-flex justify-content-between align-items-center mt-3"
              >
                <div>
                  <p class="text-muted">Số dư tài khoản</p>
                  <h5>${{ account.balance|format_currency }}</h5>
                  <p class="text-muted">Tổng số dư</p>
                  <h5>${{ account.balance|format_currency }}</h5>
                </div>
                <img
                  src="{{ account.logo_url }}"
                  alt="{{ account.account_type }}"
                  style="width: 50px"
                />
              </div>
              <div class="d-flex justify-content-between mt-3">
                <button class="btn btn-light">Xóa</button>
                <button class="btn btn-success">Chi Tiết</button>
              </div>
            </div>
          </div>
          {% endfor %} {% else %}
          <p>Không có tài khoản nào.</p>
          {% endif %}
          <div class="col-md-4 mb-4">
            <button class="btn btn-success w-100" style="height: 100%">
              Thêm Tài Khoản
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
